{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('aws-s3'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: volume.keyId,
    errors: volume.getErrors('keyId'),
    class: 's3-key-id',
    instructions: 'You can leave this field empty if you are using an EC2 instance with an applicable IAM role assignment.'|t('aws-s3')
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('aws-s3'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: volume.secret,
    errors: volume.getErrors('secret'),
    class: 's3-secret-key',
    instructions: 'You can leave this field empty if you are using an EC2 instance with an applicable IAM role assignment.'|t('aws-s3')
}) }}

{% set bucketInput %}
    <div class="flex fullwidth">
        {{ forms.select({
            name: 'bucketSelectionMode',
            options: [
                { label: 'Choose…'|t('aws-s3'), value: 'choose' },
                { label: 'Manual…'|t('aws-s3'), value: 'manual' }
            ],
            value: volume.bucketSelectionMode,
            toggle: true,
            targetPrefix: '.bsm-'
        }) }}

        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            {{ forms.select({
                id: 'bucket',
                name: 'bucket',
                options: { (volume.bucket): volume.bucket },
                value: volume.bucketSelectionMode == 'manual' ? volume.bucket,
                readonly: true,
                class: 's3-bucket-select'
            }) }}
        </div>
        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="btn s3-refresh-buckets">{{ "Refresh"|t('aws-s3') }}</div>
        </div>
        <div class="bsm-choose{% if volume.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="spinner hidden"></div>
        </div>

        <div class="bsm-manual{% if volume.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Bucket"|t('aws-s3'),
                class: 'ltr',
                name: 'manualBucket',
                suggestEnvVars: true,
                value: volume.bucket,
                placeholder: 'Bucket'|t('aws-s3')
            }) }}
        </div>
        <div class="bsm-manual{% if volume.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Region"|t('aws-s3'),
                class: 'ltr',
                name: 'manualRegion',
                suggestEnvVars: true,
                value: volume.region,
                placeholder: 'Region'|t('aws-s3')
            }) }}
        </div>
    </div>

    <input type="hidden" name="region" class="s3-region" value="{{ volume.region }}" />
{% endset %}


{{ forms.field({
    label: "Bucket"|t('aws-s3'),
    id: 'bucket',
    required: true,
    errors: volume.getErrors('bucket'),
}, bucketInput) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('aws-s3'),
    instructions: "If you want to use a bucket’s subfolder as a Volume, specify the path to use here."|t('aws-s3'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: volume.subfolder,
    errors: volume.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('aws-s3')
}) }}

<hr/>

{{ forms.lightswitchField({
    label: "Attempt to set the focal point automatically?"|t('aws-s3'),
    instructions: "Turn this on if you want to use the AWS Rekognition to try to set the focal point to a detected face.<br /> ⚠️Using this will incur extra cost for each upload.<br /> ⚠️Using this requires the <code>rekognition:DetectFaces</code> action to be allowed."|t('aws-s3'),
    name: 'autoFocalPoint',
    on: volume.autoFocalPoint,
}) }}

<hr />
{% set cacheInput %}
    {% set expires = (volume.expires|length > 0 ? volume.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 's3-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 's3-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: volume.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{{ forms.autosuggestField({
    label: "CloudFront Distribution ID"|t('aws-s3'),
    instructions: "If you’re using CloudFront as CDN for your assets, enter the distribution ID here so Assets can purge the files from CDN."|t('aws-s3'),
    id: 'cfDistributionId',
    class: 'ltr',
    name: 'cfDistributionId',
    suggestEnvVars: true,
    value: volume.cfDistributionId,
    errors: volume.getErrors('cfDistributionId')
}) }}

{{ forms.autosuggestField({
    label: "CloudFront Path Prefix"|t('aws-s3'),
    instructions: "If you’re using CloudFront as CDN for your assets and have configured subfolders or custom behaviors, enter the path prefix Craft should use when invalidating files."|t('aws-s3'),
    id: 'cfPrefix',
    class: 'ltr',
    name: 'cfPrefix',
    suggestEnvVars: true,
    value: volume.cfPrefix,
    errors: volume.getErrors('cfPrefix')
}) }}

{% do view.registerAssetBundle("craft\\awss3\\AwsS3Bundle") %}
